@model MagicVilla_Web_new.Models.Dto.VillaCreateDTO 

<form asp-action="CreateVilla">
    <div class="container p-3 border rounded shadow-lg">
        <h1 class="text-primary text-center" >Create Villa</h1>
        <hr />
        <div class="row text-success">
            <div  class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <input asp-for="Name" class="form-control" />
                 
            </div>
            <div class="col-2">
                <label asp-for="Rate " class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <input asp-for="Rate" class="form-control" />

            </div>
            <div class="col-2">
                <label asp-for="Description" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>

            </div>
            <div class="col-2">
                <label asp-for="Occupancy " class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <input asp-for="Occupancy" class="form-control" />

            </div>
            <div class="col-2">
                <label asp-for="ImageUrl " class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <input asp-for="ImageUrl" class="form-control" />

            </div>
            <div class="col-2">
                <label asp-for="sqft " class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
                <input asp-for="sqft" class="form-control" />

            </div>
            <div class="col-2">
                <label asp-for="Amenity " class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 p-2 my-1">
               
                <textarea asp-for="Amenity" class="form-control" rows="6"></textarea>

            </div>
            <div class="row ">
                <div class="col-5 offset-2">
                    <a asp-action="IndexVilla" asp-controller="Villa" class="btn-primary btn form-control">Back to List</a>
                </div>
                <div class="col-5">
                    <input type="submit" value=" Create" class="btn btn-success from control" />
                </div>
            </div>

        </div>
    </div>

</form>